<h1 class="page-header">
  Participants
  <%= link_to 'New Participant', new_participant_path, class:'btn btn-primary pull-right' %>
</h1>

<table class="table table-striped">
  <thead>
    <tr> 
      <th>No</th>
      <th>Name</th>
      <th>Code</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each_with_index do |participant, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= participant.name %></td>
        <td>
          <code><%= participant.code %></code>
        </td>
        <td>
          <%= link_to 'Show Result', participant,class:'btn btn-info btn-xs' if participant.status %>
          <%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-warning btn-xs'%></td>
      </tr>
    <% end %>
  </tbody>
</table>




