<div class="row">
	<div class="col-sm-4">
		<h1 class="page-header">Participant Result</h1>
		<table class="table table-striped">
			<tr>
				<td>
					Name
				</td>
				<td>:</td>
				<td>
					<%= @participant.name %>
				</td>
			</tr>
			<tr>
				<td>
					Code
				</td>
				<td>:</td>
				<td>
					<code><%= @participant.code %></code>
				</td>
			</tr>
			<tr>
				<td>Correct Answers</td>
				<td>:</td>
				<td>
					<%= @participant.result %>
				</td>
			</tr>
			<tr>
				<td>Result</td>
				<td>:</td>
				<td>
					<%= @participant.percentage %>
				</td>
			</tr>
		</table>

		<%= link_to 'Back', participants_path, class:"btn btn-warning" if teacher? %>

	</div>
	<div class="col-sm-8">
		<h1 class="page-header">Answer Detail</h1>
		<table class="table table-striped">
			<tbody>
				<% @participant.exams.each_with_index do |q,i| %>
				<tr>
					<td><%= i + 1 %></td>
					<td>
						<%= q.question.content.html_safe %>
						<br>
						<strong>Your Answer :</strong> <%= q.your_answer %> <%= answer_status q.status %>
							<br>
								<strong>Expected Answer :</strong> <%= q.answer_right.content %>
					</td>
					
				</tr>
				<% end %> 
			</tbody>
		</table>
	</div>
</div>