<h3 class="page-header">Question Number <%= Participant.nomor_soal(@participant.id,@exam.id) %></h3>
<%= simple_form_for(@exam,remote:true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs exam">
    <%= f.input :participant_id,:as => :hidden,input_html: { value: current_user.id }  %>
    <%= f.input :question_id,:as => :hidden ,input_html: { value: @exam.question.id }%>
    <%= f.input :status, :as => :hidden, input_html: {check: @exam.status}%>
    <div class="exam-nomor">
      <%= @exam.question.content.html_safe %>  
    </div> 

    <ol>
      <% @exam.question.answers.each do |jawaban| %>

      <li>
      <input type="radio" name="<%= @exam.question.id %>"  data-id="<%= jawaban.id %>" data-status="<%= jawaban.right %>" class="answer"> <%= jawaban.content.html_safe %>
      </li>
      <% end %>
    </ol>
    <%= f.input :answer_id,:as => :hidden ,:html=> { class: 'form-control' } %>
    <div class="col-sm-12" style="padding-left:20px">
      <%= f.input :doubt ,label: "Doubt answer" %>
    </div>
  </div>

  <script>
    var pilih_jawaban;

    pilih_jawaban = function(source, target1,target2) {

      $(source).click(function() {
        var ini;
        ini = $(this);
        if (ini.is(':checked')) {
          $(target1).val(ini.data('id'));
          $(target2).val(ini.data('status'));
        }
      });

      if($(target1).val() !== ''){
        var select;
        select = $(target1).val();
        $('*[data-id="'+select+'"]').attr('checked', 'checked');
        console.log(select)
      }
    };
    $('document').ready(function(){
      pilih_jawaban('input.answer','#exam_answer_id','#exam_status')
    })
  </script>
  <hr>
  <!-- pagination -->
  <div class="form-group exam-pagination">
    <% f.button :submit, "Simpan", :class=>"btn btn-primary" %>

    <% if @exam.try(:previous).try(:id) %>

    <%= f.button :submit, "Prev", :class=>"btn btn-warning pull-left",name: "lanjut", value: "Prev" %>
    <% end %>

    <% if @exam.try(:next).try(:id) %>
      <%= f.button :submit, "Next", :class=>"btn btn-warning pull-right",name: "lanjut", value: "Next" %>
    <% else %>
      <%= f.button :submit, :class=>"btn btn-danger pull-right",name: "finish", value: "Finish Exam" %>
      
    <% end %>

    <br>
    <br>
  </div>
  <hr>

  <!-- footer number -->
  <% @a = 1 %>
  <ul class="exam-box">
    <% @participant.exams.each do |soal| %>
      <li>
        <% if soal.id == @exam.id %>
          <%= f.button :button,:class=>"btn btn-info",name: "number", value: soal.id do %>
            <%= @a %>
          <% end %>
          
          <% link_to "#{@a}",edit_exam_path(soal),:class=>"btn btn-info" %>

        <% elsif soal.doubt == true %>
          <%= f.button :button,:class=>"btn btn-warning",name: "number", value: soal.id do %>
            <%= @a %>
          <% end %>

          <% link_to "#{@a}",edit_exam_path(soal),:class=>"btn btn-warning" %>
        
        <% elsif soal.answer_id == '' or soal.answer_id.nil? %>
          <%= f.button :button,:class=>"btn btn-default",name: "number", value: soal.id do %>
            <%= @a %>
          <% end %>
          <% link_to "#{@a}",edit_exam_path(soal),:class=>"btn btn-default" %>
        <% else %>
          <%= f.button :button,:class=>"btn btn-success",name: "number", value: soal.id do %>
            <%= @a %>
          <% end %>
          <% link_to "#{@a}",edit_exam_path(soal),:class=>"btn btn-success"  %>
        <% end %>
          <% @a = @a + 1 %>
      </li>
    <% end %>
  </ul>
<% end %>
