<h3 class="page-header">Question Number <%= Participant.nomor_soal(@participant.id,@exam.id) %></h3>
<%= simple_form_for(@exam,remote:true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs exam">
    <%= f.input :participant_id,:as => :hidden,input_html: { value: current_user.id }  %>
    <%= f.input :question_id,:as => :hidden ,input_html: { value: @exam.question.id }%>
    <%= f.input :status, :as => :hidden, input_html: {check: @exam.status}%>
    <div class="exam-nomor">
      <%= @exam.question.content.html_safe %>  
    </div> 

    <ol>
      <% @exam.question.answers.each do |jawaban| %>

      <li>
      <input type="radio" name="<%= @exam.question.id %>"  data-id="<%= jawaban.id %>" data-status="<%= jawaban.right %>" class="answer"> <%= jawaban.content.html_safe %>
      </li>
      <% end %>
    </ol>
    <%= f.input :answer_id,:as => :hidden ,:html=> { class: 'form-control' } %>
    <div class="col-sm-12" style="padding-left:20px">
      <%= f.input :doubt ,label: "Doubt answer" %>
    </div>
  </div>

  <script>
    var pilih_jawaban;

    pilih_jawaban = function(source, target1,target2) {

      $(source).click(function() {
        var ini;
        ini = $(this);
        if (ini.is(':checked')) {
          $(target1).val(ini.data('id'));
          $(target2).val(ini.data('status'));
        }
      });

      if($(target1).val() !== ''){
        var select;
        select = $(target1).val();
        $('*[data-id="'+select+'"]').attr('checked', 'checked');
        console.log(select)
      }
    };
    $('document').ready(function(){
      pilih_jawaban('input.answer','#exam_answer_id','#exam_status')
    })
  </script>
  <hr>
  <!-- pagination -->
  <%= render 'pagination_exam',f: f %>

  <!-- footer number -->
  <%= render 'number_exam',f: f %>
  
<% end %>
