<h3 class="page-header">Question Numner <%= @participant.nomor_soal(@exam.id) %></h3>

<%= simple_form_for(@exam,remote:true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs exam">
    <%= f.input :participant_id,:as => :hidden,input_html: { value: current_user.id }  %>
    <%= f.input :question_id,:as => :hidden ,input_html: { value: @exam.question.id }%>
    
    <%# f.input :status, :as => :hidden, input_html: {check: @exam.status}%>
    <div class="form-group exam-nomor">
      <%= @exam.question.content.html_safe %>  
    </div> 
    
    <% if @exam.question.answer_type == 'text' %>
    
    <div class="form-group">
      <%= f.input :value, label:"Answer",input_html: { class:"form-control", style:"Width:50%" }%>
    </div>

    <% else %>
    <ol>
      <% @exam.question.answers.each do |jawaban| %>

      <li>
      <input type="radio" name="<%= @exam.question.id %>" id="answer_<%= jawaban.id %>"  data-id="<%= jawaban.id %>" data-status="<%= jawaban.right %>" class="answer"> <label for="answer_<%= jawaban.id %>"><%= jawaban.content.html_safe %></label>
      </li>
      <% end %>
    </ol>
    <%= f.input :answer_id,:as => :hidden ,:html=> { class: 'form-control' } %>

    <% end %>
    <div class="col-sm-12" style="padding-left:20px">
      <%= f.input :doubt ,label: "Doubt answer" %>
    </div>

   
  </div>

  <script>
    var pilih_jawaban;

    pilih_jawaban = function(source, target1,target2) {

      $(source).click(function() {
        var ini;
        ini = $(this);
        if (ini.is(':checked')) {
          $(target1).val(ini.data('id'));
          $(target2).val(ini.data('status'));
        }
      });

      if($(target1).val() !== ''){
        var select;
        select = $(target1).val();
        $('*[data-id="'+select+'"]').attr('checked', 'checked');
        console.log(select)
      }
    };
    $('document').ready(function(){
      pilih_jawaban('input.answer','#exam_answer_id','#exam_status')
    })
  </script>
  <hr>
  <!-- pagination -->
  <%= render 'exams/pagination_exam',f: f %>

  <!-- footer number -->
  <%= render 'exams/number_exam',f: f %>
  
<% end %>
